@model NuGet.Server.ViewModels.SearchResultsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>Search for &quot;@Model.Query&quot; returned @Model.TotalHits packages</h1>
    <h2>Showing results @Model.First to @Model.Last.</h2>
</header>

@Html.Partial("_SearchForm", Model)

<ol start="@Model.First" class="search-results">
    @foreach (var package in Model.Hits)
    {
        <li>
            <article class="package-summary">
                <header>
                    <h1>@(package.Title ?? @package.Id) @package.Version</h1>
                    <h2>
                        By: 
                        @{
                            foreach (var author in package.Authors)
                            {
                                @Html.ActionLink(author, "search", new {query = author})
                                @(" ")
                            }
                        }
                    </h2>
                    @{
                        if (package.IconUrl != null)
                        {
                            <img class="package-icon" src="@(package.IconUrl)" alt="icon for @(package.Title ?? @package.Id)" />
                        }
                        else
                        {
                            <img class="package-icon" src="@Url.Content(Model.DefaultIconUrl)" alt="default package icon" />
                        }
                    }
                </header>
                <p>@package.Description</p>
                <footer>
                    <p>@if (!string.IsNullOrEmpty(package.Tags))
                    {
                        @("Tags: ")
                        foreach (var tag in package.Tags.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries))
                        {
                            @Html.ActionLink(tag, "search", new { query = tag })
                            @(" ")
                        }
                    }
                    </p>
                    <p>@package.DownloadCount downloads</p>
                </footer>
            </article>
        </li>
    }
</ol>
        
@if (Model.Page > 0)
{
    @Html.ActionLink("Previous", "Search", new { query = Model.Query, pageSize = Model.PageSize, page = Model.Page - 1 })
}
|
@if (!Model.IsLastPage)
{
    @Html.ActionLink("Next", "Search", new { query = Model.Query, pageSize = Model.PageSize, page = Model.Page + 1 })
}

<script>
    $(document).ready(function() {
        $(".package-icon").error(function() {
            $(this).unbind("error").attr("src", "@Url.Content(Model.DefaultIconUrl)");
        });
    });
</script>